{
  "extends": ["standard-flow", "standard", "standard-react"],
  "parser": "babel-eslint",

  "ecmaFeatures": {
    "jsx": true
  },

  "env": {
    "es6": true,
    "jasmine": true
  },

  "plugins": [
    "react",
    "react-native",
    "flowtype"
  ],

  "globals": {
    "ErrorUtils" : false
  },
    "rules": {
      "header/header": "off",
      "import/first":0,
      "import/no-webpack-loader-syntax":0,
      "indent": 0,
      "space-infix-ops": 0,
      "no-multi-spaces": 0,
      "spaced-comment": 0,
      "camelcase": 0,
      "no-dupe-keys": 1,
      "curly": 0,
      "no-self-compare": 1
    },
}
