{
  "extends": ["standard-flow", "standard", "standard-react"],
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "jasmine": true
  },

  "plugins": [
    "react",
    "react-native",
    "flowtype"
  ],

  "globals": {
    "ErrorUtils" : false
  },
    "rules": {
      "header/header": "off",
      "import/first":0,
      "import/no-webpack-loader-syntax":0,
      "indent": 1,
      "space-infix-ops": 1,
      "no-multi-spaces": 1,
      "spaced-comment": 1,
      "camelcase": 1,
      "no-dupe-keys": 1,
      "curly": [1, "multi"],
      "no-self-compare": 1
    },
}
