# Yarn v3 with zero-installs (plug'n'play)
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*

i18n/
node_modules/
coverage/
assets/
build/

# Ruby gems
vendor/

# Lock files
*.lock
