# Yarn v3 with zero-installs (plug'n'play)
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules
.idea
npm-debug.log
.DS_Store
yarn-error.log
package-lock.json

utils/dest/*

# Ignore volta dir
~/
