{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
{% endblock %}

{% block content %}
    <h1>Email Searching</h1>
    <div id="content-main">
        {% block input %}
            <form id="email" action="" method="post" novalidate="">
                {% csrf_token %}
                <div>
                   <fieldset class="module aligned ">
                       <div class="form-row field-command">
                         <div>
                           <label class="required" for="id_user_country">Users' Country</label>
                            <select id="id_user_country" name="user_country">
                                  <option selected="selected">SE</option>
                                  {% for user_country in user_countries %}
                                    <option value={{ user_country }}>{{ user_country }}</option>
                                  {% endfor %}
                            </select>
                         </div>
                       </div>
                   </fieldset>
                </div>
                <div>
                    <fieldset class="module aligned ">
                        <div class="form-row field-args">
                            <div>
                                <label for="id_create_date">Create Date</label>
                                <input id="id_create_date" type="date" name="create_date"/>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div>
                    <fieldset class="module aligned ">
                        <div class="form-row field-args">
                            <div>
                                <label for="last_login_date">Last login Date</label>
                                <input id="id_last_login_date" type="date" name="last_login_date"/>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div>
                    <fieldset class="module aligned ">
                        <div class="form-row field-args">
                            <div>
                                <label for="id_user_emails">Users' emails</label>
                                <textarea id="id_user_emails" cols="40" rows="10" name="user_emails"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div>
                   <fieldset class="module aligned ">
                       <div class="form-row field-command">
                         <div>
                           <label class="required" for="id_file_type">File Type</label>
                            <select id="id_file_type" name="file_type">
                                  <option selected="selected">Data</option>
                                  <option>Chore Data</option>
                                  <option>Dream Statistic</option>
                                  <option>Transaction Statistic</option>
                            </select>
                         </div>
                       </div>
                   </fieldset>
                </div>
                <input class="default" value="Search" type="submit">
            </form>
            <script>
                document.getElementById("id_create_date").valueAsDate = new Date();
                document.getElementById("id_last_login_date").valueAsDate = new Date();
            </script>
        {% endblock %}
    </div>
{% endblock %}
