<!-- templates/admin/input_filter.html -->

{% load i18n %}

<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
<ul>
  <li>
    {% with choices.0 as all_choice %}
    <style>
    h100 {
      position: relative;
      left: 170px;
      top: 0px;
     }
    form[id="myForm"] {
        width:12px;
        height: 2px;
    }
    </style>
    <form id="myForm" method="GET" action="" >
        {% for k, v in all_choice.query_parts %}
        <input type="hidden" name="{{ k }}" value="{{ v }}" />
        {% endfor %}
        <input
            id="search"
            type="text"
            value="{{ spec.value|default_if_none:'' }}"
            name="{{ spec.parameter_name }}"/>
    </form>
    <form id="result" action="">
    <h100><button onclick="submit()">Clear</button></h100>
    </form>
    <script>
        function submit() {
        }
    </script>
    {% endwith %}
  </li>
</ul>
