<!-- templates/admin/input_filter.html -->

{% load i18n %}

<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
<ul>
  <li>
    {% with choices.0 as all_choice %}
    <style>
    h100 {
      position: relative;
      left: 175px;
      top: -40px;
     }
    form[name="2"] {
        width:12px;
        height: 30px;
    }
    </style>

    <form id="{{spec.parameter_name}}" method="GET" action="" name="2" >
        {% for k, v in all_choice.query_parts %}
        <input type="hidden" name="{{ k }}" value="{{ v }}" />
        {% endfor %}
        <p>
        <label for="{{ spec.parameter_name }}" ></label>
        <input
            id="{{ spec.parameter_name }}"
            type="text"
            value="{{ spec.value|default_if_none:'' }}"
            name="{{ spec.parameter_name }}" />
        </p>
        <h100><button id="{{ spec.parameter_name }}" type="button" onclick="hej('{{ spec.parameter_name }}')">Clear</button></h100>
    </form>
    <script type="text/javascript">
        function hej(elemName) {
            var x = document.getElementById(elemName).getElementsByTagName("input")[0].type;
            if(x === "hidden")
            {
                document.getElementById(elemName).getElementsByTagName("input")[1].value = '';
                document.getElementById(elemName).getElementsByTagName("input")[1].name = '';
            }else {
                document.getElementById(elemName).getElementsByTagName("input")[0].value = '';
                document.getElementById(elemName).getElementsByTagName("input")[0].name = '';
            }

            document.getElementById(elemName).submit();
        }
    </script>
    {% endwith %}
  </li>
</ul>
