{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
{% endblock %}

{% block content %}
    <h1>Register beta testers for premium</h1>
    <div id="content-main">
      <form id="register_premium_testers_form" action="" method="post" novalidate="">
        {% csrf_token %}
        <div>
          <fieldset class="module aligned ">
            <div class="form-row field-args">
              <div>
                <label for="id_user_emails">User emails</label>
                <textarea id="id_user_emails" cols="40" rows="3" name="user_emails"></textarea>
              </div>
            </div>
          </fieldset>
        </div>
        <input class="default" value="Register" type="submit">
      </form>
  </div>
{% endblock %}