{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
{% endblock %}

{% block content %}
    <h1>Run Command</h1>
    <div id="content-main">
      <form id="run_command_form" action="" method="post" novalidate="">
        {% csrf_token %}
        <div>
          <fieldset class="module aligned ">
            <div class="form-row field-command">
              <div>
                <label class="required" for="id_command">Command</label>
                <select id="id_command" name="command" oninput="changeParamHints()">
                  {% for command in commands %}
                    <option value={{ command.0 }}>{{ command.1 }}</option>
                  {% endfor %}
                </select>
                <select id="id_command_params_json" hidden>
                  {% for command in commands %}
                    <option value={{ command.0 }}>{{ command.3.parameters }}</option>
                  {% endfor %}
                </select>
                <select id="id_command_params_hint" hidden>
                  {% for command in commands %}
                    <option value={{ command.0 }}>{{ command.3.help }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-row">
              <label for="id_args_hint">Parameters</label>
              <p id="id_args_hint"></p>
            </div>
            <div class="form-row field-args">
              <div>
                <label for="id_args">Arguments</label>
                <textarea id="id_args" cols="40" rows="6" name="args"></textarea>
              </div>
            </div>
          </fieldset>
        </div>
        <input class="default" value="Run" type="submit">
      </form>
  </div>

<script type="text/javascript">
    function changeParamHints(){
        var command_index = document.getElementById("id_command").selectedIndex;
        var command_json_select = document.getElementById("id_command_params_json");
        var command_hint_select = document.getElementById("id_command_params_hint");
        document.getElementById("id_args").value = command_json_select.options[command_index].innerText;
        document.getElementById("id_args_hint").innerText = command_hint_select.options[command_index].innerText;
    }

    changeParamHints();
</script>

{% endblock %}
