{% extends "admin/submit_receipt.html" %}

{% block form_label %}<h1>Submit a Play Store receipt</h1>{% endblock %}

{% block submit_form %}
    <script>
        function onSubscriptionChange() {

            var subscription_id = document.getElementById("id_subscription_id").value;
            if (subscription_id == "new_sku") {
                document.getElementById("id_subscription_id_freetext").hidden = false;
            }
            else {
                document.getElementById("id_subscription_id_freetext").hidden = true;
            }
        }
    </script>
  <div class="form-row">
    <div>
      <label class="required" for="id_subscription_id">Subscription</label>
      <select id="id_subscription_id" name="subscription_id" onchange="onSubscriptionChange()">
        {% for subscription in subscriptions %}
          <option value={{ subscription.0 }}>{{ subscription.1 }}</option>
        {% endfor %}
      </select>
      <input id="id_subscription_id_freetext" name="subscription_id_freetext" hidden style="margin-left:20px">
    </div>
  </div>
  <div class="form-row">
    <div>
      <label class="required" for="id_purchase_token">Purchase Token</label>
      <textarea id="id_purchase_token" cols="100" rows="6" name="purchase_token"></textarea>
    </div>
  </div>
{% endblock %}
